<a href="https://colab.research.google.com/github/Chamara-g/pre-datastorm-v1-0/blob/master/pre_data_storm_NN_design.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day3 Final**

We use here new data set we create in the **pre-data-storm-preprocessing.ipynb** file

Drive mount

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd

Read new dataset and save **df_train** dataframe

In [14]:
#read train data set
df_train = pd.read_csv("drive/My Drive/FYP/dataset/credit_card_data_train_pre.csv", index_col=0)
df_train.head()

           Balance_Limit_V1  Gender  ...  DUE_PAID_GRD  NEXT_MONTH_DEFAULT
Client_ID                            ...
A2                1000000.0       1  ...  45777.071429                   0
A3                1000000.0       0  ... -28992.814286                   0
A4                 100000.0       0  ...  -2101.828571                   1
A5                 200000.0       0  ...   1253.742857                   1
A6                1000000.0       0  ...   3990.171429                   0

[5 rows x 29 columns]

Read new test dataset and save **df_test** dataframe

In [15]:
#read test data set
df_test = pd.read_csv("drive/My Drive/FYP/dataset/credit_card_data_test_pre.csv", index_col=0)
df_test.head()

           Balance_Limit_V1  Gender  ...   PAY_DUE_GRD  DUE_PAID_GRD
Client_ID                            ...
A6327              200000.0       1  ... -10320.957143 -10320.957143
A12869             200000.0       0  ...  -8277.471429  -8277.471429
A7703             1000000.0       0  ...    857.300000    857.300000
A4150              400000.0       0  ...  -2594.142857  -2594.142857
A8788             1000000.0       1  ...  -8005.800000  -8005.800000

[5 rows x 28 columns]

**NN model Train**

Take input as most importance feature we calculate in file **pre-data-storm-preprocessing**
["PAY_JULY",	"PAY_AUG",	"PAY_SEP",	"PAY_GRD"]

In [0]:
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense
import tensorflow.compat.v1 as tf

from tensorflow import keras
import tensorflow.compat.v1 as tf

# split into input (X) and output (y) variables
X = df_train.drop("NEXT_MONTH_DEFAULT",1)   #Feature Matrix
y = df_train["NEXT_MONTH_DEFAULT"]          #Target Variable

#select input as selected features
selected_col_names = ["PAY_JULY",	"PAY_AUG",	"PAY_SEP",	"PAY_GRD"]
X_Select = X[selected_col_names]

model = keras.Sequential([
    keras.layers.Flatten(input_shape=(4,)),
    keras.layers.Dense(10, activation=tf.nn.relu),
	  keras.layers.Dense(10, activation=tf.nn.sigmoid),
	  keras.layers.Dense(10, activation=tf.nn.relu),
    keras.layers.Dense(1, activation=tf.nn.sigmoid),
])

# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# fit the keras model on the dataset
model.fit(X_Select, y, epochs=150, batch_size=10)

# evaluate the keras model
_, accuracy = model.evaluate(X_Select, y)
print('Accuracy: %.2f' % (accuracy*100))

Train on 24000 samples
Epoch 1/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4636 - acc: 0.8031
Epoch 2/150
24000/24000 [==============================] - 6s 236us/sample - loss: 0.4465 - acc: 0.8177
Epoch 3/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4451 - acc: 0.8188
Epoch 4/150
24000/24000 [==============================] - 5s 228us/sample - loss: 0.4443 - acc: 0.8186
Epoch 5/150
24000/24000 [==============================] - 5s 227us/sample - loss: 0.4436 - acc: 0.8185
Epoch 6/150
24000/24000 [==============================] - 6s 229us/sample - loss: 0.4432 - acc: 0.8193
Epoch 7/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4430 - acc: 0.8199
Epoch 8/150
24000/24000 [==============================] - 5s 227us/sample - loss: 0.4426 - acc: 0.8204
Epoch 9/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4422 - acc: 0.8195
Epoch 10/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4423 - acc: 0.8199
Epoch 11/150
24000/24000 [==============================] - 5s 227us/sample - loss: 0.4419 - acc: 0.8206
Epoch 12/150
24000/24000 [==============================] - 5s 227us/sample - loss: 0.4419 - acc: 0.8204
Epoch 13/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4417 - acc: 0.8211
Epoch 14/150
24000/24000 [==============================] - 5s 227us/sample - loss: 0.4417 - acc: 0.8206
Epoch 15/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4413 - acc: 0.8204
Epoch 16/150
24000/24000 [==============================] - 6s 229us/sample - loss: 0.4416 - acc: 0.8198
Epoch 17/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4416 - acc: 0.8207
Epoch 18/150
24000/24000 [==============================] - 6s 238us/sample - loss: 0.4412 - acc: 0.8204
Epoch 19/150
24000/24000 [==============================] - 5s 228us/sample - loss: 0.4412 - acc: 0.8210
Epoch 20/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4410 - acc: 0.8217
Epoch 21/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4410 - acc: 0.8198
Epoch 22/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4411 - acc: 0.8209
Epoch 23/150
24000/24000 [==============================] - 6s 229us/sample - loss: 0.4410 - acc: 0.8203
Epoch 24/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4408 - acc: 0.8212
Epoch 25/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4408 - acc: 0.8210
Epoch 26/150
24000/24000 [==============================] - 5s 226us/sample - loss: 0.4408 - acc: 0.8200
Epoch 27/150
24000/24000 [==============================] - 5s 227us/sample - loss: 0.4409 - acc: 0.8201
Epoch 28/150
24000/24000 [==============================] - 5s 227us/sample - loss: 0.4406 - acc: 0.8204
Epoch 29/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4404 - acc: 0.8213
Epoch 30/150
24000/24000 [==============================] - 5s 225us/sample - loss: 0.4405 - acc: 0.8199
Epoch 31/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4404 - acc: 0.8208
Epoch 32/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4402 - acc: 0.8214
Epoch 33/150
24000/24000 [==============================] - 5s 228us/sample - loss: 0.4404 - acc: 0.8215
Epoch 34/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4401 - acc: 0.8207
Epoch 35/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4407 - acc: 0.8212
Epoch 36/150
24000/24000 [==============================] - 5s 228us/sample - loss: 0.4403 - acc: 0.8214
Epoch 37/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4403 - acc: 0.8204
Epoch 38/150
24000/24000 [==============================] - 5s 227us/sample - loss: 0.4401 - acc: 0.8202
Epoch 39/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4401 - acc: 0.8214
Epoch 40/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4400 - acc: 0.8216
Epoch 41/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4400 - acc: 0.8212
Epoch 42/150
24000/24000 [==============================] - 6s 238us/sample - loss: 0.4401 - acc: 0.8216
Epoch 43/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4399 - acc: 0.8214
Epoch 44/150
24000/24000 [==============================] - 5s 228us/sample - loss: 0.4401 - acc: 0.8212
Epoch 45/150
24000/24000 [==============================] - 6s 238us/sample - loss: 0.4400 - acc: 0.8215
Epoch 46/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4400 - acc: 0.8210
Epoch 47/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4397 - acc: 0.8218
Epoch 48/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4399 - acc: 0.8210
Epoch 49/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4400 - acc: 0.8214
Epoch 50/150
24000/24000 [==============================] - 6s 243us/sample - loss: 0.4397 - acc: 0.8207
Epoch 51/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4398 - acc: 0.8209
Epoch 52/150
24000/24000 [==============================] - 6s 239us/sample - loss: 0.4395 - acc: 0.8217
Epoch 53/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4397 - acc: 0.8215
Epoch 54/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4397 - acc: 0.8211
Epoch 55/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4397 - acc: 0.8215
Epoch 56/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4397 - acc: 0.8215
Epoch 57/150
24000/24000 [==============================] - 5s 228us/sample - loss: 0.4396 - acc: 0.8210
Epoch 58/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4395 - acc: 0.8215
Epoch 59/150
24000/24000 [==============================] - 5s 227us/sample - loss: 0.4396 - acc: 0.8209
Epoch 60/150
24000/24000 [==============================] - 6s 236us/sample - loss: 0.4395 - acc: 0.8201
Epoch 61/150
24000/24000 [==============================] - 6s 247us/sample - loss: 0.4393 - acc: 0.8210
Epoch 62/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4394 - acc: 0.8206
Epoch 63/150
24000/24000 [==============================] - 6s 237us/sample - loss: 0.4396 - acc: 0.8213
Epoch 64/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4395 - acc: 0.8211
Epoch 65/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4394 - acc: 0.8211
Epoch 66/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4395 - acc: 0.8209
Epoch 67/150
24000/24000 [==============================] - 6s 238us/sample - loss: 0.4393 - acc: 0.8210
Epoch 68/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4391 - acc: 0.8216
Epoch 69/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4395 - acc: 0.8213
Epoch 70/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4395 - acc: 0.8206
Epoch 71/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4393 - acc: 0.8208
Epoch 72/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4393 - acc: 0.8216
Epoch 73/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4393 - acc: 0.8212
Epoch 74/150
24000/24000 [==============================] - 6s 238us/sample - loss: 0.4395 - acc: 0.8210
Epoch 75/150
24000/24000 [==============================] - 6s 237us/sample - loss: 0.4396 - acc: 0.8210
Epoch 76/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4393 - acc: 0.8210
Epoch 77/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4391 - acc: 0.8217
Epoch 78/150
24000/24000 [==============================] - 5s 224us/sample - loss: 0.4394 - acc: 0.8208
Epoch 79/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4393 - acc: 0.8215
Epoch 80/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4392 - acc: 0.8215
Epoch 81/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4389 - acc: 0.8209
Epoch 82/150
24000/24000 [==============================] - 6s 236us/sample - loss: 0.4393 - acc: 0.8211
Epoch 83/150
24000/24000 [==============================] - 5s 228us/sample - loss: 0.4392 - acc: 0.8211
Epoch 84/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4390 - acc: 0.8207
Epoch 85/150
24000/24000 [==============================] - 6s 238us/sample - loss: 0.4392 - acc: 0.8209
Epoch 86/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4391 - acc: 0.8217
Epoch 87/150
24000/24000 [==============================] - 5s 228us/sample - loss: 0.4392 - acc: 0.8207
Epoch 88/150
24000/24000 [==============================] - 6s 236us/sample - loss: 0.4390 - acc: 0.8209
Epoch 89/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4390 - acc: 0.8219
Epoch 90/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4388 - acc: 0.8215
Epoch 91/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4390 - acc: 0.8205
Epoch 92/150
24000/24000 [==============================] - 6s 237us/sample - loss: 0.4388 - acc: 0.8208
Epoch 93/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4391 - acc: 0.8205
Epoch 94/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4390 - acc: 0.8203
Epoch 95/150
24000/24000 [==============================] - 6s 236us/sample - loss: 0.4390 - acc: 0.8206
Epoch 96/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4387 - acc: 0.8210
Epoch 97/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4388 - acc: 0.8213
Epoch 98/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4388 - acc: 0.8216
Epoch 99/150
24000/24000 [==============================] - 6s 237us/sample - loss: 0.4391 - acc: 0.8206
Epoch 100/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4387 - acc: 0.8210
Epoch 101/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4389 - acc: 0.8210
Epoch 102/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4388 - acc: 0.8202
Epoch 103/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4389 - acc: 0.8210
Epoch 104/150
24000/24000 [==============================] - 6s 236us/sample - loss: 0.4388 - acc: 0.8213
Epoch 105/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4387 - acc: 0.8205
Epoch 106/150
24000/24000 [==============================] - 6s 246us/sample - loss: 0.4387 - acc: 0.8209
Epoch 107/150
24000/24000 [==============================] - 6s 243us/sample - loss: 0.4389 - acc: 0.8213
Epoch 108/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4386 - acc: 0.8203
Epoch 109/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4386 - acc: 0.8209
Epoch 110/150
24000/24000 [==============================] - 6s 236us/sample - loss: 0.4388 - acc: 0.8202
Epoch 111/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4387 - acc: 0.8218
Epoch 112/150
24000/24000 [==============================] - 6s 236us/sample - loss: 0.4385 - acc: 0.8214
Epoch 113/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4387 - acc: 0.8210
Epoch 114/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4386 - acc: 0.8214
Epoch 115/150
24000/24000 [==============================] - 5s 226us/sample - loss: 0.4387 - acc: 0.8210
Epoch 116/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4382 - acc: 0.8209
Epoch 117/150
24000/24000 [==============================] - 6s 238us/sample - loss: 0.4388 - acc: 0.8201
Epoch 118/150
24000/24000 [==============================] - 6s 238us/sample - loss: 0.4386 - acc: 0.8215
Epoch 119/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4386 - acc: 0.8208
Epoch 120/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4386 - acc: 0.8210
Epoch 121/150
24000/24000 [==============================] - 5s 228us/sample - loss: 0.4387 - acc: 0.8207
Epoch 122/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4385 - acc: 0.8214
Epoch 123/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4385 - acc: 0.8208
Epoch 124/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4387 - acc: 0.8212
Epoch 125/150
24000/24000 [==============================] - 6s 240us/sample - loss: 0.4384 - acc: 0.8214
Epoch 126/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4387 - acc: 0.8217
Epoch 127/150
24000/24000 [==============================] - 6s 238us/sample - loss: 0.4386 - acc: 0.8215
Epoch 128/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4384 - acc: 0.8207
Epoch 129/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4387 - acc: 0.8209
Epoch 130/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4383 - acc: 0.8209
Epoch 131/150
24000/24000 [==============================] - 6s 236us/sample - loss: 0.4383 - acc: 0.8215
Epoch 132/150
24000/24000 [==============================] - 6s 232us/sample - loss: 0.4386 - acc: 0.8211
Epoch 133/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4385 - acc: 0.8210
Epoch 134/150
24000/24000 [==============================] - 6s 229us/sample - loss: 0.4383 - acc: 0.8210
Epoch 135/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4381 - acc: 0.8213
Epoch 136/150
24000/24000 [==============================] - 6s 236us/sample - loss: 0.4383 - acc: 0.8215
Epoch 137/150
24000/24000 [==============================] - 5s 229us/sample - loss: 0.4384 - acc: 0.8212
Epoch 138/150
24000/24000 [==============================] - 6s 239us/sample - loss: 0.4384 - acc: 0.8219
Epoch 139/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4383 - acc: 0.8215
Epoch 140/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4382 - acc: 0.8208
Epoch 141/150
24000/24000 [==============================] - 6s 231us/sample - loss: 0.4384 - acc: 0.8210
Epoch 142/150
24000/24000 [==============================] - 6s 240us/sample - loss: 0.4385 - acc: 0.8206
Epoch 143/150
24000/24000 [==============================] - 6s 233us/sample - loss: 0.4383 - acc: 0.8210
Epoch 144/150
24000/24000 [==============================] - 6s 230us/sample - loss: 0.4386 - acc: 0.8207
Epoch 145/150
24000/24000 [==============================] - 6s 234us/sample - loss: 0.4381 - acc: 0.8223
Epoch 146/150
24000/24000 [==============================] - 6s 241us/sample - loss: 0.4384 - acc: 0.8210
Epoch 147/150
24000/24000 [==============================] - 6s 239us/sample - loss: 0.4383 - acc: 0.8223
Epoch 148/150
24000/24000 [==============================] - 6s 235us/sample - loss: 0.4383 - acc: 0.8213
Epoch 149/150
24000/24000 [==============================] - 6s 237us/sample - loss: 0.4383 - acc: 0.8217
Epoch 150/150
24000/24000 [==============================] - 5s 228us/sample - loss: 0.4382 - acc: 0.8216
24000/24000 [==============================] - 1s 41us/sample - loss: 0.4373 - acc: 0.8211
Accuracy: 82.11

Predic results for test data using NN model

In [0]:
# make class predictions with the model

X_test = df_test[selected_col_names]
y_pred_NN = model.predict_classes(X_test)
df_test["NEXT_MONTH_DEFAULT"] = y_pred_NN
df_test.head()

           Balance_Limit_V1  Gender  ...   PAY_DUE_GRD  NEXT_MONTH_DEFAULT
Client_ID                            ...
A20170             500000.0       1  ...  18572.642857                   0
A16887             200000.0       0  ...   1413.200000                   0
A3430              400000.0       1  ...   2343.485714                   0
A3696             1500000.0       1  ...   -990.000000                   0
A20474             100000.0       0  ...  -6089.785714                   0

[5 rows x 28 columns]

In [0]:
df_out = df_test['NEXT_MONTH_DEFAULT']
df_out.to_csv('drive/My Drive/FYP/dataset/credit_card_output_NN_NEW_F4_150.csv', encoding='utf-8', mode='w', header=["NEXT_MONTH_DEFAULT"], index=True)